<!--
    기본 템플릿: https://bbbootstrap.com/snippets/tailwind-css-chat-list-template-search-75579288
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memo 목록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div class="py-10 h-screen bg-gray-300 px-2">
    <div class="max-w-md mx-auto bg-gray-100 shadow-lg rounded-lg overflow-hidden md:max-w-lg">
        <div class="md:flex">
            <div class="w-full p-4">
                <div class="relative">
                    <input type="text" class="w-full h-12 rounded focus:outline-none px-3 focus:shadow-md" placeholder="할일 검색하기">
                    <i class="fa fa-search absolute right-3 top-4 text-gray-300"></i> </div>
                <ul id="">
                    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                            <div class="flex flex-col ml-2">
                                <span class="font-medium text-black">할일11</span>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <span class="text-gray-300">2022-03-01 11:26</span>
                        </div>
                        <div class="flex flex-col items-center">
                            <i class="fa fa-star text-green-400"></i>
                        </div>
                    </li>
                    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2"> <img src="https://i.imgur.com/eMaYwXn.jpg" width="40" height="40" class="rounded-full">
                            <div class="flex flex-col ml-2"> <span class="font-medium text-black">Komeial Bolger</span> <span class="text-sm text-gray-400 truncate w-32">I will send you all documents as soon as possible</span> </div>
                        </div>
                        <div class="flex flex-col items-center"> <span class="text-gray-300">12:26</span> <i class="fa fa-star text-green-400"></i> </div>
                    </li>
                    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="40" height="40" class="rounded-full">
                            <div class="flex flex-col ml-2"> <span class="font-medium text-black">Tamaara Suiale</span> <span class="text-sm text-gray-400 truncate w-32">Are you going to business trip next week</span> </div>
                        </div>
                        <div class="flex flex-col items-center"> <span class="text-gray-300">8:26</span> <i class="fa fa-star text-green-400"></i> </div>
                    </li>
                    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2"> <img src="https://i.imgur.com/agRGhBc.jpg" width="40" height="40" class="rounded-full">
                            <div class="flex flex-col ml-2"> <span class="font-medium text-black">Sam Nielson</span> <span class="text-sm text-gray-400 truncate w-32">I suggest to start new business soon</span> </div>
                        </div>
                        <div class="flex flex-col items-center"> <span class="text-gray-300">7:16</span> <i class="fa fa-star text-green-400"></i> </div>
                    </li>
                    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2"> <img src="https://i.imgur.com/uIgDDDd.jpg" width="40" height="40" class="rounded-full">
                            <div class="flex flex-col ml-2"> <span class="font-medium text-black">Caroline Nexon</span> <span class="text-sm text-gray-400 truncate w-32">We need to start new reseatch center.</span> </div>
                        </div>
                        <div class="flex flex-col items-center"> <span class="text-gray-300">9:26</span> <i class="fa fa-star text-green-400"></i> </div>
                    </li>

                    <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                            <img src="https://i.imgur.com/tT8rjKC.jpg" width="40" height="40" class="rounded-full">
                            <div class="flex flex-col ml-2">
                                <span class="font-medium text-black">Patrick Koeler</span>
                                <span class="text-sm text-gray-400 truncate w-32">May be yes</span>
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <span class="text-gray-300">3:26</span>
                            <i class="fa fa-star text-green-400"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    const memoTemplate =
        `<li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
            <div class="flex ml-2">
                <img src="https://i.imgur.com/tT8rjKC.jpg" width="40" height="40" class="rounded-full">
                <div class="flex flex-col ml-2">
                    <span class="font-medium text-black">Patrick Koeler</span>
                    <span class="text-sm text-gray-400 truncate w-32">May be yes</span>
                </div>
            </div>
            <div class="flex flex-col items-center">
                <span class="text-gray-300">3:26</span>
                <i class="fa fa-star text-green-400"></i>
            </div>
        </li>`;

    document.addEventListener('DOMContentLoaded', function () {
        console.log();
    });
</script>
</body>
</html>